$navbarBg: #fff;
$link: #212529;
$hamburger: #212529;
$hamburgerActive: #0099dc;

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-gap: 20px;
  align-items: center;
  padding: 0.75% 3% 0.5%;
  background-color: $navbarBg;

  .brand {
    align-items: center;

    img {
      height: 50px;
    }
  }

  .toggler {
    display: none;
  }

  .collapsible {
    display: grid;

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-left: 0;
      list-style: none;

      .link {
        text-decoration: none;
        margin-left: 1.5rem;
        color: $link;
        border-bottom: none;
      }
    }
  }
}

/* Large devices (desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Medium devices (tablets, up to 992px) */
@media (max-width: 992px) {
}

/* Small devices (landscape phones, up to 768px) */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem 5% 1rem;

    .brand {
      padding-top: 0.2rem;

      img {
        height: 30px;
      }
    }

    .toggler {
      display: grid;
      margin-left: auto;

      .menu-toggler {
        padding: 0;
        border: none;
        background-color: transparent;

        .hamburger {
          .btn-line {
            transition: all 0.3s ease-out;
            width: 1.75rem;
            height: 0.125rem;
            margin-bottom: 5px;
            background-color: $hamburger;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        &.active {
          .btn-line {
            background-color: $hamburgerActive;
          }
          .btn-line:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
          }
          .btn-line:nth-child(2) {
            opacity: 0;
          }
          .btn-line:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
          }
        }

        &:focus {
          outline: none;
        }
      }
    }

    .collapsible {
      display: none;
      // TODO Add an animation

      &.active {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;

        .menu {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding-left: 0;

          li {
            width: 100%;
            padding: 0.2rem 0;

            .link {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
