  footer {
    background-color: $footerBg;

    > div:first-of-type {
      display: grid;
      padding: 2rem 15%;
      grid-template-columns: repeat(4, 1fr);
    }

    .links {
      padding: 1.5rem 1rem;
      &:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 4;
      }
      .title {
        color: rgba($color: #fff, $alpha: 0.8);
      }
      ul {
        padding-left: 0;
        li {
          list-style: none;
          a {
            transition: all 0.3s ease 0s;
            color: rgba($color: #fff, $alpha: 0.8);
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
    footer {
      > div:first-of-type {
        padding: 2rem 5% !important;
      }

      .links {
        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &:nth-child(2) {
          grid-row-start: 2;
          grid-row-end: 3;
          grid-column-start: 1 !important;
          grid-column-end: 5 !important;
        }
        &:nth-child(3) {
          grid-column-start: 3;
          grid-column-end: 5;
        }
      }
    }
