@import url(./navbar.css);

* {
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
.wrapper {
  width: inherit;
  height: inherit;
}

/* Typography */
.text-white {
  color: white !important;
}
.text-center {
  text-align: center !important;
}

/* Container */
.grid-con {
  display: grid;
  grid-gap: 20px;
}
.grid-con.col-1 {
  grid-template-columns: 1fr;
}
.grid-con.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-con.col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-con.col-6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-con > .grid-item {
  padding: 10px;
  background-color: orange;
}

/* NAVBAR */
/* nav .nav-menu {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  align-items: center;
  justify-content: end;
}
nav .nav-menu .menu a {
  margin-left: 1rem;
} */

/* HEADER */
header {
  display: grid;
  height: 84.3%;
  padding-left: 10%;
  align-items: center;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header h1 {
html footer,
body footer {
  background-color: #212529;
}

html footer > div:first-of-type,
body footer > div:first-of-type {
  display: -ms-grid;
  display: grid;
  padding: 2rem 15%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

html footer .links,
body footer .links {
  padding: 1.5rem 1rem;
}

html footer .links:nth-child(2),
body footer .links:nth-child(2) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

html footer .links .title,
body footer .links .title {
  color: rgba(255, 255, 255, 0.8);
}

html footer .links ul,
body footer .links ul {
  padding-left: 0;
}

html footer .links ul li,
body footer .links ul li {
  list-style: none;
}

html footer .links ul li a,
body footer .links ul li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: rgba(255, 255, 255, 0.8);
}

html footer .links ul li a:hover,
body footer .links ul li a:hover {
  color: #0099dc;
}

html footer .credits,
body footer .credits {
  background-color: #0099dc;
}

html footer .credits .text,
body footer .credits .text {
  padding: 1.5rem 0;
  color: white;
}

/* 
 * Divider
 * by https://codepen.io/scottzirkel/pen/yNxNME
 */
hr.divider {
  position: relative;
  text-align: center;
  line-height: 1em;
  height: 1.5em;
  margin: 1rem 0;
  color: black;
  opacity: 0.5;
  border: 0;
  outline: 0;
}
hr.divider:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #818078;
}
hr.divider:after {
  content: attr(title);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: #fcfcfa;
  color: #818078;
}

/* News */
section.news {
  width: 80%;
  margin: 0 auto;
  padding: 3% 0;
}
section.news .grid-item {
  background-color: transparent;
}

/* Keywords */
.keyword-container .keyword {
  transition: all .3s ease 0s;
  padding: .3rem 1.3rem;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #ededed;
  color: #212529;
}
.keyword-container .keyword:hover {
  background-color: black;
  border-color: black;
  color: white;
}

/* NEWS */
section#news {
  padding: 7.5% 10%;
}
section#news .main-item {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0;
}
section#news .main-item:hover,
section#news .sub-item:hover {
  cursor: pointer;
}
section#news .sub-item {
  height: 250px;
  padding: 0;
}
section#news .main-item .body .heading,
section#news .sub-item .body .heading {
  font-weight: bolder;
  color: #212529;
}
section#news .sub-item .body .date {
  text-transform: uppercase;
  color: #bdbdbd;
}

/* FOOTER */
footer {
  background-color: #333;
  html footer > div:first-of-type,
  body footer > div:first-of-type {
    padding: 2rem 5% !important;
  }
  html footer .links:nth-child(1),
  body footer .links:nth-child(1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  html footer .links:nth-child(2),
  body footer .links:nth-child(2) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 5 !important;
  }
  html footer .links:nth-child(3),
  body footer .links:nth-child(3) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
  }
}
