@import url(./navbar.css);
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  /* 
   * Divider
   * by https://codepen.io/scottzirkel/pen/yNxNME
   */
}

html *,
body * {
  margin: 0;
}

html .wrapper,
body .wrapper {
  width: inherit;
  height: inherit;
}

html .alert,
body .alert {
  width: 100%;
  padding: 1rem 0;
  background-color: #fcfcfa;
}

html .alert.danger,
body .alert.danger {
  background-color: #ed1236;
  color: white;
}

html .alert.danger p,
body .alert.danger p {
  color: white;
}

html .alert.danger p a,
body .alert.danger p a {
  color: white;
  border-bottom-color: white;
}

html .alert p,
body .alert p {
  color: #212529;
}

html .alert p a,
body .alert p a {
  border-bottom-color: #212529;
}

html #top-news,
body #top-news {
  padding: 2rem 15%;
}

html #top-news > div,
body #top-news > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 35vh 35vh 30vh;
      grid-template-rows: 35vh 35vh 30vh;
  gap: 1rem 1rem;
      grid-template-areas: "news0 news0 news0 news0" "news0 news0 news0 news0" "news1 news2 news3 news4";
}

html #top-news > div div,
body #top-news > div div {
  position: relative;
  background-position: center;
  background-size: cover;
}

html #top-news > div div:nth-child(1),
body #top-news > div div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: news0;
}

html #top-news > div div:nth-child(2),
body #top-news > div div:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: news1;
}

html #top-news > div div:nth-child(3),
body #top-news > div div:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: news2;
}

html #top-news > div div:nth-child(4),
body #top-news > div div:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: news3;
}

html #top-news > div div:nth-child(5),
body #top-news > div div:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: news4;
}

html #top-news > div div .more,
body #top-news > div div .more {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: calc(100% - 1.5rem);
}

html #top-news > div div .more .title,
body #top-news > div div .more .title {
  margin-bottom: 1rem;
  font-weight: normal;
  color: white;
}

html #top-news > div div .more a,
body #top-news > div div .more a {
  margin: 0 auto;
  padding: 0.75rem 2rem;
  border: 2px solid white;
  color: white;
}

html #top-news > div div .more a:hover,
body #top-news > div div .more a:hover {
  background-color: white;
  color: #212529;
}

html #news,
body #news {
  padding: 2rem 15%;
}

html #news > div,
body #news > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
      grid-template-areas: "news news topics";
}

html #news > div .news,
body #news > div .news {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: news;
}

html #news > div .news > div,
body #news > div .news > div {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (30vh)[2];
      grid-template-rows: repeat(2, 30vh);
}

html #news > div .news > div div,
body #news > div .news > div div {
  position: relative;
  background-position: center;
  background-size: cover;
}

html #news > div .news > div div .more,
body #news > div .news > div div .more {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: calc(100% - 1.5rem);
}

html #news > div .news > div div .more .title,
body #news > div .news > div div .more .title {
  margin-bottom: 1rem;
  font-weight: normal;
  color: white;
}

html #news > div .news > div div .more a,
body #news > div .news > div div .more a {
  margin: 0 auto;
  padding: 0.75rem 2rem;
  border: 2px solid white;
  color: white;
}

html #news > div .news > div div .more a:hover,
body #news > div .news > div div .more a:hover {
  background-color: white;
  color: #212529;
}

html #news > div .keywords,
body #news > div .keywords {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: topics;
}

html #news > div .keywords > div,
body #news > div .keywords > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html #news > div .keywords a,
body #news > div .keywords a {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #212529;
  color: #212529;
}

html #news > div .keywords a:hover, html #news > div .keywords a.active,
body #news > div .keywords a:hover,
body #news > div .keywords a.active {
  background-color: #212529;
  color: white;
}

html footer,
body footer {
  background-color: #212529;
}

html footer > div:first-of-type,
body footer > div:first-of-type {
  display: -ms-grid;
  display: grid;
  padding: 2rem 15%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

html footer .links,
body footer .links {
  padding: 1.5rem 1rem;
}

html footer .links:nth-child(2),
body footer .links:nth-child(2) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

html footer .links .title,
body footer .links .title {
  color: rgba(255, 255, 255, 0.8);
}

html footer .links ul,
body footer .links ul {
  padding-left: 0;
}

html footer .links ul li,
body footer .links ul li {
  list-style: none;
}

html footer .links ul li a,
body footer .links ul li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: rgba(255, 255, 255, 0.8);
}

html footer .links ul li a:hover,
body footer .links ul li a:hover {
  color: #0099dc;
}

html footer .credits,
body footer .credits {
  background-color: #0099dc;
}

html footer .credits .text,
body footer .credits .text {
  padding: 1.5rem 0;
  color: white;
}

html hr.divider,
body hr.divider {
  position: relative;
  text-align: center;
  line-height: 1em;
  height: 1.5em;
  margin: 1rem 0;
  color: black;
  opacity: 0.5;
  border: 0;
  outline: 0;
}

html hr.divider:before,
body hr.divider:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #818078;
}

html hr.divider:after,
body hr.divider:after {
  content: attr(title);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: #fcfcfa;
  color: #818078;
}

html .text.left,
html .title.left,
body .text.left,
body .title.left {
  text-align: left;
}

html .text.center,
html .title.center,
body .text.center,
body .title.center {
  text-align: center;
}

html .text.right,
html .title.right,
body .text.right,
body .title.right {
  text-align: right;
}

html a,
body a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #212529;
  border-bottom: 1px dotted #212529;
}

html a:hover,
body a:hover {
  color: #0099dc;
  border-bottom-color: #0099dc;
}

@media (max-width: 1200px) {
  html #top-news,
  html #news,
  body #top-news,
  body #news {
    padding: 2rem 10%;
  }
}

@media (max-width: 992px) {
  html #top-news,
  html #news,
  body #top-news,
  body #news {
    padding: 2rem 5%;
  }
}

@media (max-width: 768px) {
  html #top-news,
  body #top-news {
    padding: 2rem 5%;
  }
  html #top-news > div,
  body #top-news > div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (30vh)[5];
        grid-template-rows: repeat(5, 30vh);
    gap: 1rem;
        grid-template-areas: "news0" "news1" "news2" "news3" "news4";
  }
  html #top-news > div div:nth-child(1),
  body #top-news > div div:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: news0;
  }
  html #top-news > div div:nth-child(2),
  body #top-news > div div:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: news1;
  }
  html #top-news > div div:nth-child(3),
  body #top-news > div div:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: news2;
  }
  html #top-news > div div:nth-child(4),
  body #top-news > div div:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: news3;
  }
  html #top-news > div div:nth-child(5),
  body #top-news > div div:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: news4;
  }
  html #news,
  body #news {
    padding: 2rem 5% !important;
  }
  html #news > div:first-of-type,
  body #news > div:first-of-type {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  html #news > div:first-of-type .news,
  body #news > div:first-of-type .news {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 4 !important;
    height: 50px;
  }
  html #news > div:first-of-type .keywords,
  body #news > div:first-of-type .keywords {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 4 !important;
  }
  html #news > div:first-of-type .keywords > div,
  body #news > div:first-of-type .keywords > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    overflow-x: scroll;
    padding: 1px 0;
  }
  html #news > div:first-of-type .keywords > div a:last-of-type,
  body #news > div:first-of-type .keywords > div a:last-of-type {
    margin-right: 0;
  }
  html footer > div:first-of-type,
  body footer > div:first-of-type {
    padding: 2rem 5% !important;
  }
  html footer .links:nth-child(1),
  body footer .links:nth-child(1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  html footer .links:nth-child(2),
  body footer .links:nth-child(2) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 5 !important;
  }
  html footer .links:nth-child(3),
  body footer .links:nth-child(3) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
  }
}
/*# sourceMappingURL=style.css.map */